## to copy environment cp .env.example .env.local

## Environment
##=====================================================
NEXT_PUBLIC_NODE_ENVIRONMENT=dev | staging | prod

## Mapbox
##=====================================================
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

## FourSquare
##=====================================================
NEXT_PUBLIC_FOURSQUARE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

## Supabase
##=====================================================
NEXT_PUBLIC_SUPABASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

## Database
##=====================================================
DATABASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

## Data Repo
##=====================================================
DATA_REPO_URL="https://data.staging.realpha.com/"
DATA_REPO_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

## Base URL
##=====================================================
NEXT_PUBLIC_BASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxx

## ElevenLabs
##=====================================================
NEXT_PUBLIC_ELEVENLABS_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

## FreePik
##=====================================================
NEXT_PUBLIC_FREEPIK_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx